<p id="notice"><%= notice %></p>

<h1>Start Importing!</h1>


<br>

<div id="drop_zone" class="panel panel-success text-center" style="height: 100px;font-size: 24px;padding-top: 35px;">Drop files here</div>
<output id="list"></output>
<div id="hot" style="overflow: scroll; height: 500px;" class="handsontable"></div>



<footer style="margin-top: 100px;">This is provided by RepairShopr</footer>

